# =========================
# .NET Build Folders
# =========================
bin/
obj/

# =========================
# User / IDE specific
# =========================
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.user
*.rsuser
*.suo

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test coverage
# =========================
coverage*
TestResults/

# =========================
# NuGet
# =========================
*.nupkg
